<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8"/>
    <title>修改用户页面</title>
</head>
<body>
<div th:text="${session.user}"></div>
<form th:action="@{/user}" method="post" >
    <!--发送put请求修改员工数据-->
   <!--
   1.pringmvc中配置HiddenHttpMethodFilter（SpringBoot自动配置好）
   2.页面创建一个post表单
   3.创建一个input项，name="_method";值就是我们指定的请求方式
   -->
    <input type="hidden" name="_method" value="put"/>
    请输入您的id：
    <input type="text" name="id" /><br/>
    请输入您的姓名：
    <input type="text" name="userName" /><br/>
    请输入您的年龄：
    <input type="text" name="age"/> <br/>
    <input type="submit" value="修改"/>
</form>

</body>
</html>