<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<button>添加</button>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student:${students}">
            <!--属性内写法-->
            <td th:text="${student.id}"></td>
            <!--行内写法-->
            <td>[[${student.name}]]</td>
            <td>[[${student.gender}]]</td>
             <td><button>修改</button><button>删除</button></td>

        </tr>
    </tbody>
    <td><a href="Add.html">添加用户</a></td>
    <td><a href="change.html">添加用户</a></td>
    <td><a href="delete.html">添加用户</a></td>
    <td><a href="find.html">添加用户</a></td>
</table>

</body>
</html>