a,
a:active,
a:hover {
    outline: 0
}

.m-flashSaleProduct .rt .itemName {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all
}

.m-flashSaleProduct .rt .itemName {
    word-break: break-all
}

.g-row:after {
    clear: both
}

.f-left {
    float: left
}

body {
    position: relative
}

img,
input {
    border: 0
}

body,
h2,
h3,
input,
li,
p,
ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

input {
    line-height: normal
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

img {
    vertical-align: top
}

section {
    display: block
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%
}

body,
input {
    outline: 0;
    font: 12px/1.5 "Microsoft Yahei", "微软雅黑", verdana
}

h2,
h3 {
    font-size: 100%
}

a,
a:hover {
    text-decoration: none
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    a:active {
        background-color: transparent
    }
}

input::-ms-clear {
    display: none
}

body {
    font-size: 12px
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
input {
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    color: #333
}

a {
    color: #333
}

a:hover {
    color: #b4a078
}

body {
    min-height: 100%;
    min-width: 1090px;
    background-color: #fff
}

i {
    font-style: normal
}

::-webkit-input-placeholder {
    color: #999
}

:-moz-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999!important
}

.f-right {
    float: right
}

.f-fz14 {
    font-size: 14px
}

.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

.g-row:after,
.g-row:before {
    content: " ";
    display: table
}

.m-product {
    line-height: 1;
    text-align: center;
    font-size: 13px;
    width: 245px;
    height: 381px;
    position: relative
}

.m-product .hd {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f4f4f4
}

.m-product .img {
    width: 245px;
    height: 245px;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    background-color: #f4f4f4;
    color: #f4f4f4;
    display: block;
    margin: 0 auto
}

.m-product:hover .hd .img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

.m-product .promoLogo {
    position: absolute;
    left: 6px;
    top: 6px
}

.m-product .promBanner {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    padding-right: 10px
}

.m-product .promBanner .promTitle .subTitle,
.m-product .promBanner .promTitle .title {
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.m-product .promBanner .promTitle {
    max-width: 200px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    margin-top: -6px;
    z-index: 1;
    padding-left: 8px;
    padding-right: 14px;
    float: left;
    border-top-left-radius: 3px
}

.m-product .promBanner .promTitle .title {
    font-size: 12px;
    height: 15px;
    line-height: 1;
    margin-top: 5px;
    margin-left: 0;
    padding-top: 0
}

.m-product .promBanner .promTitle .subTitle {
    font-size: 14px;
    height: 20px;
    line-height: 14px;
    margin-top: -1px;
    font-weight: 700
}

.m-product .promBanner .promContent {
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 4px;
    padding-left: 4px
}

.m-flashSaleProduct {
    float: left;
    width: 433px;
    height: 214px;
    background-color: #fff
}

.m-flashSaleProduct .lt {
    float: left;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 0
}

.m-flashSaleProduct .lt .picIn {
    position: relative;
    display: block
}

.m-flashSaleProduct .lt .pic {
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    display: block;
    margin: 0 auto
}

.m-flashSaleProduct .rt {
    margin-left: 180px;
    height: 187px;
    padding-top: 14px
}

.m-flashSaleProduct .rt .itemName {
    display: -webkit-box;
    overflow: hidden;
    max-height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666
}

.m-flashSaleProduct .rt .itemDes {
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.m-flashSaleProduct .rt .itemNum {
    padding: 14px 0 8px;
    height: 36px
}

.m-flashSaleProduct .rt .itemNum .numBar {
    float: left;
    position: relative;
    width: 152px;
    height: 10px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden
}

.m-flashSaleProduct .rt .itemNum .numBarIn {
    background-color: #ffe5e5;
    height: 10px
}

.m-flashSaleProduct .rt .itemNum .numTips {
    height: 14px;
    margin-left: 162px;
    font-size: 14px;
    color: #999;
    line-height: 14px
}

.m-flashSaleProduct .rt .itemPrice {
    font-size: 14px;
    line-height: 1;
    vertical-align: baseline
}

.m-flashSaleProduct .rt .itemPrice .aPrice {
    color: #be4141
}

.m-flashSaleProduct .rt .itemPrice .aPriceIn {
    margin-right: 12px;
    vertical-align: sub;
    font-weight: 700;
    font-size: 24px
}

.m-flashSaleProduct .rt .itemPrice .yuan {
    font-size: 18px;
    margin-left: 4px
}

.m-flashSaleProduct .rt .itemPrice .oPriceIn {
    text-decoration: line-through
}

.m-flashSaleProduct .rt .w-btn {
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer
}

.m-flashSaleProduct .rt .tobuyBtn {
    background-color: #be4141;
    color: #fff
}

.m-flashSaleProduct .rt .tobuyBtn:hover {
    background-color: #da4f4f
}

.m-flashSaleProduct:hover .lt .pic {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

.img-lazyload {
    background-image: url(//yanxuan.nosdn.127.net/d4786274dc46e7b25b2c506a552c5cb5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    color: #f4f4f4
}

.img-lazyloaded {
    background: #f4f4f4;
    color: #f4f4f4
}

.img-lazyload.white,
.img-lazyloaded.white {
    background-color: #fff;
    color: #fff
}


/*** uncss> filename: http://127.0.0.1:5500/css/index.css ***/

@charset "UTF-8";
.slick-list:focus,
.slick-slider * {
    outline: 0
}

.m-commonHeader:after,
.slick-track:after {
    clear: both
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}

.slick-slide {
    display: none;
    float: left;
    /* height: 100%; */
    min-height: 1px
}

.slick-slide img {
    display: block
}

.slick-initialized .slick-slide {
    display: block
}

.imgCenterBanner {
    position: relative;
    overflow: hidden;
    height: 420px!important
}

.imgCenterBanner .wrap {
    display: block;
    position: absolute;
    left: 50%
}

.imgCenterBanner .wrap img {
    position: relative;
    left: -50%;
    max-width: none
}

.m-focus {
    position: relative;
    background: #f5f5f5;
    z-index: 1
}

.m-focus .m-focusSlick {
    position: relative;
    overflow: hidden
}

.m-commonHeader {
    padding-bottom: 20px
}

.m-commonHeader:after,
.m-commonHeader:before {
    content: " ";
    display: table
}

.m-commonHeader .name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px
}

.m-commonHeader .frontName {
    padding-top: 13px;
    display: inline-block;
    line-height: 1
}

.m-commonHeader .moreItems {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer
}

.m-commonHeader .lh1 {
    line-height: 1
}

.m-newProducts {
    height: 510px;
    margin-top: 30px
}

.m-newProducts .m-newProduct {
    width: 265px!important;
    margin-right: 10px
}

.m-newProducts .m-newProduct .img {
    width: 265px;
    height: 265px
}

.m-newProducts .m-newItemSlick {
    width: 1100px
}

.m-popularItem {
    background-color: #fff;
    overflow: hidden;
    width: 223px;
    height: 280px;
    float: left;
    margin-left: 10px;
    text-align: center
}

.m-popularItem.down {
    margin-top: 10px
}

.m-popularItem .hd {
    background: 0 0;
    border-bottom: 1px solid #F4F0EA
}

.m-popularItem .hd .img {
    width: 180px;
    height: 180px
}

.m-popularItem:first-child {
    width: 390px;
    height: 570px;
    margin-left: 0
}

.m-popularItem:first-child .hd {
    margin-bottom: 18px
}

.m-popularItem:first-child .img {
    width: 320px;
    height: 320px;
    margin: 40px 35px
}

.m-indexPopularItem {
    padding: 60px 0;
    background: #f4f0ea
}

.m-indexPopularItem .showContainer {
    clear: both;
    overflow: hidden
}

.m-flashSale .g-row {
    padding-top: 58px
}

.m-flashSale .bd {
    height: 429px;
    width: 100%;
    overflow: hidden
}

.m-flashSale .flashSaleLt {
    position: relative;
    height: 429px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    background: url(//yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png) center center no-repeat #fff
}

.m-flashSale .flashSaleLt .screenHd {
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 11px;
    color: #615548
}

.m-flashSale .flashSaleLt .line {
    width: 20px;
    height: 2px;
    margin: 0 auto 18px;
    background: #61594b
}

.m-flashSale .flashSaleLt .screenEndTips {
    margin-bottom: 18px;
    font-size: 18px;
    color: #615548;
    line-height: 22px;
    height: 22px
}

.m-flashSale .flashSaleLt .m-countDown {
    height: 40px;
    margin-bottom: 50px;
    text-align: center
}

.m-flashSale .flashSaleLt .m-countDown span {
    display: inline-block
}

.m-flashSale .flashSaleLt .m-countDown .colon {
    font-weight: 700;
    padding: 0 2px
}

.m-flashSale .flashSaleLt .m-countDown .w-cd {
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.m-flashSale .flashSaleLt .seeMoreBtn {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px
}

.m-flashSale .flashSaleLt .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}

.m-flashSale .flashSaleRt {
    margin-left: 224px;
    height: 429px
}

.m-flashSale .flashSaleRt .m-flashSaleProduct {
    float: left;
    width: 433px;
    height: 214px;
    border: 1px solid #f0ece4;
    border-left: none
}

.m-indexBigPromotionModule {
    padding-top: 20px;
    padding-bottom: 20px
}

.m-indexBigPromotionModule .floor {
    overflow: hidden;
    margin-bottom: 10px
}

.m-indexBigPromotionModule .floor:last-child {
    margin-bottom: 0
}

.m-indexBigPromotionModule .promItem {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    color: #333;
    width: 100%;
    margin-right: 10px;
    float: left;
    text-align: center
}

.m-indexBigPromotionModule .promItem:last-child {
    margin-right: 0
}

.m-indexBigPromotionModule .promItem:after {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    margin-top: 1px
}


/* 广告 */

.m-indexBigPromotionModule .promItem-4 {
    width: 265px
}


/*** uncss> filename: http://127.0.0.1:5500/css/yxComponent.all.min.css ***/

@charset "UTF-8";
.yx-cp-icon-yxtop {
    background-repeat: no-repeat
}

.yx-cp-base {
    font-size: 12px
}

.yx-cp-base {
    line-height: 1.5;
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    color: #333
}

.yx-cp-base * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.yx-cp-base input {
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    color: #333;
    outline: 0
}

.yx-cp-base input,
.yx-cp-base li,
.yx-cp-base ul {
    margin: 0;
    padding: 0
}

.yx-cp-base ul {
    list-style: none
}

.yx-cp-base input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.yx-cp-base a {
    color: #333
}

.yx-cp-base a:hover {
    color: #b4a078
}

.yx-cp-base a,
.yx-cp-base a:hover {
    text-decoration: none
}

.yx-cp-base i {
    font-style: normal
}

.yx-cp-base ::-webkit-input-placeholder {
    color: #999
}

.yx-cp-base :-moz-placeholder {
    color: #999
}

.yx-cp-base ::-moz-placeholder {
    color: #999
}

.yx-cp-base :-ms-input-placeholder {
    color: #999!important
}

.yx-cp-icon-yxtop {
    display: -moz-inline-stack;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal
}


/* 图标 */

.yx-cp-icon-yxtop {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s5a30a4b0b1-a6e3a8f2f0.png);
    background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s5a30a4b0b1-a6e3a8f2f0.png) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s844f31d6ba-22b5090edc.png) 2x)
}

.icon-yxtop-app {
    background-position: 0 0;
    height: 11px;
    width: 7px
}

.icon-yxtop-badge {
    background-position: 0 -51px;
    height: 19px;
    width: 19px
}

.icon-yxtop-cart-s {
    background-position: 0 -148px;
    height: 18px;
    width: 18px
}

.icon-yxtop-cart {
    background-position: 0 -204px;
    height: 24px;
    width: 24px
}

.icon-yxtop-cart:hover {
    background-position: 0 -80px
}

.icon-yxtop-search-gray {
    background-position: 0 -518px;
    height: 14px;
    width: 14px
}

.icon-yxtop-search {
    background-position: 0 -602px;
    height: 20px;
    width: 20px
}

.icon-yxtop-search:hover {
    background-position: 0 -542px
}

.icon-yxtop-upArrow {
    background-position: 0 -690px;
    height: 5px;
    width: 11px
}

@charset "UTF-8";
.yx-cp-m-siteNav {
    position: relative;
    height: 36px;
    line-height: 36px;
    background-color: #333;
    z-index: 5
}

.yx-cp-m-siteNav .yx-cp-siteNav-r {
    float: right
}

.yx-cp-m-siteNav .yx-cp-siteNavItem {
    float: left;
    margin-left: 10px;
    position: relative;
    color: #ccc
}

.yx-cp-m-siteNav .yx-cp-siteNavItem .icon-yxtop-upArrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.yx-cp-m-siteNav .yx-cp-siteNavItem:hover {
    color: #fff
}

.yx-cp-m-siteNav .yx-cp-siteNavItemHd {
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    cursor: pointer
}

.yx-cp-m-siteNav .yx-cp-siteNavItemHd.pipe:before {
    content: '';
    display: inline-block;
    height: 16px;
    border-left: 1px solid #5c5c5c;
    vertical-align: middle
}

.yx-cp-m-siteNav .yx-cp-siteNavItemHd.pipe:before {
    margin-right: 10px
}

.yx-cp-m-siteNav .yx-cp-siteNavItemHd a {
    display: inline-block;
    color: #ccc
}

.yx-cp-m-siteNav .yx-cp-siteNavItemHd a:hover {
    color: #fff
}

.yx-cp-m-siteNav .yx-cp-icon-yxtop {
    vertical-align: middle
}

.yx-cp-m-search {
    position: relative;
    margin-top: 26px;
    float: right;
    width: 532px;
    height: 36px
}

.yx-cp-m-search .hotKeywordListWrap {
    margin-top: 46px;
    margin-left: 8px;
    width: 444px;
    height: 18px;
    overflow: hidden
}

.yx-cp-m-search .hotKeywordListWrap .hotKeywordList {
    top: 0;
    position: relative;
    overflow: hidden
}

.yx-cp-m-search .hotKeywordListWrap .hotKeywordRow {
    height: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    font-size: 0
}

.yx-cp-m-search .hotKeywordListWrap .hotKeyword {
    display: inline-block;
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    line-height: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 444px;
    font-size: 12px
}

.yx-cp-m-search .hotKeywordListWrap .hotKeyword:last-child {
    border-right: 0
}

.yx-cp-m-search .hotKeywordListWrap .hotKeyword.active,
.yx-cp-m-search .hotKeywordListWrap .hotKeyword:hover {
    color: #CC9756
}

.yx-cp-m-search .icon-yxtop-search-gray {
    position: absolute;
    left: 18px;
    top: 12px
}

.yx-cp-m-search .yx-cp-searchInput {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CC9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    font-size: 14px;
    width: 442px;
    padding-left: 38px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
    background: url(//yanxuan.nosdn.127.net/78c8186034200f5a02eefbdae9674d88.png)\9
}

.yx-cp-m-search .yx-cp-searchInput::-webkit-input-placeholder {
    color: #999
}

.yx-cp-m-search .yx-cp-searchButton {
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px
}

.yx-cp-m-search .yx-cp-searchButton:hover {
    background-color: #E2C199
}

.yx-cp-m-search .yx-cp-searchButton .icon-yxtop-search {
    display: none
}

.yx-cp-m-search .yx-cp-searchDefaultKeyword {
    position: absolute;
    top: 12px;
    left: 38px;
    color: #999;
    display: block;
    line-height: 1;
    cursor: text;
    touch-action: none;
    -ms-touch-action: none;
    pointer-events: none;
    -ms-pointer-events: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    width: 390px;
    text-overflow: ellipsis;
    font-size: 14px
}

.yx-cp-m-tabNav {
    line-height: 1;
    font-weight: 700;
    position: absolute;
    height: 30px;
    bottom: 21px;
    width: 100%
}

.yx-cp-m-tabNav .yx-cp-tabNav-item {
    float: left;
    margin-top: 27px;
    padding: 0 26px;
    font-size: 14px
}

.yx-cp-m-tabNav .yx-cp-tabNav-item .yx-cp-topLevel {
    display: block;
    padding-bottom: 7px;
    color: #000
}

.yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-active .yx-cp-topLevel,
.yx-cp-m-tabNav .yx-cp-tabNav-item:hover .yx-cp-topLevel {
    color: #CC9756;
    border-bottom: 3px solid #CC9756
}

.yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-firstItem {
    margin-left: 0;
    padding-left: 0
}

.yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-lastItem {
    padding-right: 0
}

.yx-cp-m-cartEnterWrap {
    position: relative;
    margin-top: 26px;
    margin-left: 49px;
    float: right;
    z-index: 4
}

.yx-cp-m-cartEnter {
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    padding: 8px 0
}

.yx-cp-m-cartEnter:hover {
    background-color: #F5F3EF
}

.yx-cp-m-cartEnter .icon-yxtop-badge {
    margin-left: 5px;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    z-index: 1
}

.yx-cp-m-cartEnter .icon-yxtop-badge {
    margin-left: 10px
}

.yx-cp-m-cartEnter .icon-yxtop-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none
}

.yx-cp-m-cartEnter .icon-yxtop-cart-s {
    margin-left: 22px
}

.yx-cp-m-cartEnter .yx-cp-cartName {
    color: #CC9756;
    margin-left: 5px;
    margin-top: -1px;
    font-size: 14px
}

.yx-cp-m-funcTab {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2)
}

.yx-cp-m-funcTab {
    position: relative;
    height: 204px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-bottom: 1px solid #e8e8e8\9
}

.yx-cp-m-funcTab .yx-cp-zIndex3 {
    z-index: 3
}

.yx-cp-m-top {
    position: relative;
    z-index: 2
}

.yx-cp-m-top .yx-cp-row {
    width: 1090px;
    margin: 0 auto;
    position: relative
}

.yx-cp-m-top .yx-cp-row:after,
.yx-cp-m-top .yx-cp-row:before {
    content: " ";
    display: table
}